<!DOCTYPE html>
<html lang="en">
<head>
        <link rel='shortcut icon' type='image/x-icon' href='static/img/favicon.png'/>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

<div id="panel">
        <form method="POST">
                <label>Hello PIPO</label>
                <div id="lower">
                        <input type="submit" value="Logout">
                </div>
        </form>
</div>

</body>
</html>